.search-form-container {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-form-group {
  width: 40%;
  min-width: 300px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-input-field {
  width: 100%;
}

Button {
  width: 15%;
  margin-top: 0.25rem;
}
